<div class="footer-container">
  <div class="left">
    <div class="logo">traveler</div>
  </div>
  <div class="right">
    <div class="topRight">
      <div class="title">Follow us at</div>
      <div class="icons">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-tiktok"></i>
      </div>
    </div>
    <div class="bot-right">
      <div class="form-container">
        <div class="title">
          Sign up for our daily newsletter for the latest news, deals and tips.
        </div>
        <div class="form">
          <mat-form-field class="input-bar">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              placeholder="Enter your email adress."
              formControlName="email"
            />
          </mat-form-field>
          <div class="btn-container">
            
            <button class="form-btn">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
