<div class="top">
    <div class="topLeft">
      <span routerLink="/">traveler</span>
    </div>
    <div class="topCenter">
      <ul class="topList">
        <li class="topListItem" routerLink="/">HOME</li>
        <li class="topListItem" routerLink="/posts">POSTS</li>
        <li class="topListItem" routerLink="/write">WRITE</li>
      </ul>
    </div>
    <div class="topRight">
        
      <ng-container *ngIf="user$ | async as user ; else Notlogged"  >
        <h1>Welcome, {{user.displayName}}</h1>
        <img
        mat-button [matMenuTriggerFor]="menu"
        class="topImg"
        src="https://t3.ftcdn.net/jpg/02/99/04/20/360_F_299042079_vGBD7wIlSeNl7vOevWHiL93G4koMM967.jpg"
        alt=""
      />
        <mat-menu #menu="matMenu">
         
          <button  routerLink="/profile" mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>My Profile</span>
          </button>
          <button mat-menu-item>
            <mat-icon>article</mat-icon>
            <span>My Posts</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      
      </ng-container>
      
      <ng-template #Notlogged>
        <ul class="topList">
          <li class="topListItem" routerLink="/login">LOGIN</li>
          <li class="topListItem" routerLink="/register">REGISTER</li>
        </ul> 
      </ng-template>
     
    </div>
  </div>
  