.write{
    padding-top: 50px;
}

.writeForm{
position: relative;
}

.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-content: center;

}
.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    color: rgb(121, 118, 118);
    cursor: pointer;
    transition: 0.3s;
}
.writeIcon:hover{
    opacity: 0.6;
    scale: 1.05;
}
.writeLabel{
    display: flex;
    align-items: center;
}

.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}

.writeInput:focus{
    outline: none   ;
}

.writeText {
    font-size: 20px;
    height: 100vh;
}

.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;

}

.writeSubmit:hover{
    opacity: 0.6;
    scale: 1.05;
}

.writeImg{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.writeFormGroup input::placeholder,textarea::placeholder{
    color: #444;
    opacity: 0.6;
}