
<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <ng-container *ngIf="slides">
    <div class="carousel-item active c-item">
      <img src="{{slides[0].image}}" class="d-block w-100 c-img" alt="Slide 1">
      <div class="carousel-caption top-0 mt-4">
        <p class="mt-5 fs-3 text-uppercase"routerLink="/posts/{{slides[0].id}}">{{slides[0].title}}</p>
       
      </div>
    </div>
    <div class="carousel-item  c-item">
      <img src="{{slides[1].image}}" class="d-block w-100 c-img" alt="Slide 1">
      <div class="carousel-caption top-0 mt-4">
        <p class="mt-5 fs-3 text-uppercase"routerLink="/posts/{{slides[1].id}}">{{slides[1].title}}</p>
       
      </div>
    </div>
    <div class="carousel-item  c-item">
      <img src="{{slides[2].image}}" class="d-block w-100 c-img" alt="Slide 1">
      <div class="carousel-caption top-0 mt-4">
        <p class="mt-5 fs-3 text-uppercase"routerLink="/posts/{{slides[2].id}}">{{slides[2].title}}</p>
       
      </div>
    </div>
  </ng-container>
   
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="title">
  <h1>RECENT POSTS</h1>
</div>
<app-posts [isHome]="true"/>
