<div class='write'>
    <h1>Edit your post</h1>
    <img class='writeImg' [src]="url" alt="" />
    <form #f="ngForm" (ngSubmit)="EditPost(f)" class='writeForm'>
      <div class="writeFormGroup">
        <label class='writeLabel' for="fileInput"><i  class="writeIcon fa-solid fa-plus"></i></label>
        <input type="file" id='fileInput' name="image" style="display: none"  (change)="upload($event)">
        <input type="text" placeholder='Title' name="title" class='writeInput' autoFocus={true} value="{{post.title}}" [(ngModel)]="post.title">
      </div>
      <div class="writeFormGroup">
        <textarea placeholder='Tell your story...' name="post" type='text' class='writeInput writeText' value="{{post.post}}" [(ngModel)]="post.post"></textarea>
      </div>
      <button class='writeSubmit'>Save</button>
    </form>
  </div>