.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  .profile-image {
    position: relative;
    width: 120px;
    margin: 40px auto 40px auto;
  }
  
  .profile-image > img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .profile-image > button {
    position: absolute;
    bottom: 10px;
    right: 0;
    background-color: darksalmon;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.3s;
  }
  .profile-image > button:hover{
  
      background-color:rgb(255, 131, 90) ;
      scale: 1.2;
  }
  
  .form-container {
    max-width: 400px;
    margin-top: 40px;
    border: 1px solid;
    padding: 40px;
    height: 80vh;
    box-shadow: 10px 5px lightgray;
    background-color: salmon;
  }
  
  .row {
    display: flex;
    gap: 16px;
  }
  
  .save {
    padding: 10px;
    color: white;
    background-color: #b1e7a9;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all ease 0.3s;
  }
  
  .save:hover {
    background-color: aqua;
  }
  